@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	color: var(--foreground);
	background: var(--background);
	font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
	.text-balance {
		text-wrap: balance;
	}
}

@layer base {
	:root {
		--base-0: 0 0% 100%;
		--base-1: 0 0% 98.82352941176471%;
		--base-2: 0 0% 97.6470588235294%;
		--base-3: 0 0% 94.11764705882352%;
		--base-4: 0 0% 90.98039215686275%;
		--base-5: 0 0% 87.84313725490196%;
		--base-6: 0 0% 85.09803921568627%;
		--base-7: 0 0% 80.7843137254902%;
		--base-8: 0 0% 73.33333333333333%;
		--base-9: 0 0% 55.294117647058826%;
		--base-10: 0 0% 51.37254901960784%;
		--base-11: 0 0% 39.21568627450981%;
		--base-12: 0 0% 12.549019607843137%;
		--accent-1: 0 0% 98.82352941176471%;
		--accent-2: 0 0% 97.6470588235294%;
		--accent-3: 0 0% 94.11764705882352%;
		--accent-4: 0 0% 90.98039215686275%;
		--accent-5: 0 0% 87.84313725490196%;
		--accent-6: 0 0% 85.09803921568627%;
		--accent-7: 0 0% 80.7843137254902%;
		--accent-8: 0 0% 73.33333333333333%;
		--accent-9: 0 0% 55.294117647058826%;
		--accent-10: 0 0% 51.37254901960784%;
		--accent-11: 0 0% 39.21568627450981%;
		--accent-12: 0 0% 12.549019607843137%;
		--background: 0 0% 98.82352941176471%;
		--foreground: 0 0% 12.549019607843137%;
		--card: 0 0% 97.6470588235294%;
		--card-foreground: 0 0% 12.549019607843137%;
		--popover: 0 0% 98.82352941176471%;
		--popover-foreground: 0 0% 12.549019607843137%;
		--primary: 42.07792207792208 100% 54.70588235294118%;
		--primary-foreground: 23.999999999999996 39.82300884955753%
			22.15686274509804%;
		--secondary: 0 0% 97.6470588235294%;
		--secondary-foreground: 0 0% 39.21568627450981%;
		--muted: 0 0% 97.6470588235294%;
		--muted-foreground: 0 0% 39.21568627450981%;
		--accent: 0 0% 51.37254901960784%;
		--accent-foreground: 0 0% 100%;
		--destructive: 358.4810126582278 69.2982456140351% 55.294117647058826%;
		--destructive-foreground: 350.64935064935065 62.601626016260155%
			24.11764705882353%;
		--border: 0 0% 85.09803921568627%;
		--input: 0 0% 85.09803921568627%;
		--ring: 0 0% 85.09803921568627%;
		--radius: 0.5rem;
	}
	.dark {
		--base-0: 0 0% 0%;
		--base-1: 0 0% 6.666666666666667%;
		--base-2: 0 0% 9.803921568627452%;
		--base-3: 0 0% 13.333333333333334%;
		--base-4: 0 0% 16.470588235294116%;
		--base-5: 0 0% 19.215686274509807%;
		--base-6: 0 0% 22.745098039215687%;
		--base-7: 0 0% 28.235294117647058%;
		--base-8: 0 0% 37.64705882352941%;
		--base-9: 0 0% 43.13725490196079%;
		--base-10: 0 0% 48.23529411764706%;
		--base-11: 0 0% 70.58823529411765%;
		--base-12: 0 0% 93.33333333333333%;
		--accent-1: 0 0% 6.666666666666667%;
		--accent-2: 0 0% 9.803921568627452%;
		--accent-3: 0 0% 13.333333333333334%;
		--accent-4: 0 0% 16.470588235294116%;
		--accent-5: 0 0% 19.215686274509807%;
		--accent-6: 0 0% 22.745098039215687%;
		--accent-7: 0 0% 28.235294117647058%;
		--accent-8: 0 0% 37.64705882352941%;
		--accent-9: 0 0% 43.13725490196079%;
		--accent-10: 0 0% 48.23529411764706%;
		--accent-11: 0 0% 70.58823529411765%;
		--accent-12: 0 0% 93.33333333333333%;
		--background: 0 0% 6.666666666666667%;
		--foreground: 0 0% 93.33333333333333%;
		--card: 0 0% 9.803921568627452%;
		--card-foreground: 0 0% 93.33333333333333%;
		--popover: 0 0% 6.666666666666667%;
		--popover-foreground: 0 0% 93.33333333333333%;
		--primary: 49.95918367346939 100% 51.9607843137255%;
		--primary-foreground: 23.999999999999996 39.82300884955753%
			22.15686274509804%;
		--secondary: 0 0% 9.803921568627452%;
		--secondary-foreground: 0 0% 70.58823529411765%;
		--muted: 0 0% 9.803921568627452%;
		--muted-foreground: 0 0% 70.58823529411765%;
		--accent: 0 0% 48.23529411764706%;
		--accent-foreground: 0 0% 100%;
		--destructive: 359.58041958041963 79.00552486187846% 64.50980392156863%;
		--destructive-foreground: 349.5652173913044 100% 90.98039215686275%;
		--border: 0 0% 22.745098039215687%;
		--input: 0 0% 22.745098039215687%;
		--ring: 0 0% 22.745098039215687%;
		--radius: 0.5rem;
	}
}

@layer base {
	* {
		@apply border-border;
	}
	body {
		@apply bg-background text-foreground;
	}
}
